@using Vitrunetics.BootstrapSupport
@model IEnumerable<Vitrunetics.Regimen>

@{
    ViewBag.Title = "Routines";
}

<h2>Routines</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class = "btn"})
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegimenName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegimenName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegimenID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegimenID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegimenID })
        </td>
    </tr>
}

</table>
